    <!-- FOOTER AREA ----------------------------------------------------- -->

<footer class="section-gap">
    <div class="container">
        <div class="row pt-60">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-uppercase mb-20">Site Navigation</h6>
                    <ul class="footer-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Schools", "Index", "School")</li>
                        <li>@Html.ActionLink("Teacher", "Index", "Teacher")</li>
                        <li><a href="#focus">Donation</a></li>
                        <li><a href="#chat">Chat</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-uppercase mb-20">Tha Doume</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Mpla MPla Mpla</a></li>
                        <li><a href="#">Mpla MPla Mpla</a></li>
                        <li><a href="#">Mpla MPla Mpla</a></li>
                        <li><a href="#">Mpla MPla Mpla</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-uppercase mb-20">Tha Doume</h6>
                    <ul class="footer-nav">
                        <li><a href="#">Mpla MPla Mpla</a></li>
                        <li><a href="#">Mpla MPla Mpla</a></li>
                        <li><a href="#">Mpla MPla Mpla</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-uppercase mb-20">Quick About</h6>
                    <p>
                        Milame Edw gia mas ... periautologoume
                    </p>
                    <p>
                        +00 012 6325 98 6542 <br>
                        support@children.com
                    </p>
                    <div class="footer-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                        <a href="#"><i class="fa fa-behance"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p class="footer-text m-0">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">The Three Stooges</a>
            </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        </div>
    </div>
</footer>
