<!-- header section -->
<section class="banner" role="banner">
    <!--header navigation -->
    <header id="header">
        <div class="header-content clearfix">
            <a class="logo" href="index.html"><img src="images/logo.png" alt=""></a>
            <nav class="navigation" role="navigation">
                <ul class="primary-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Schools", "Index", "School")</li>
                    <li>@Html.ActionLink("Teacher", "Index", "Teacher")</li>
                    <li><a href="#focus">Donation</a></li>
                    <li><a href="#chat">Chat</a></li>
                </ul>
            </nav>
            <a href="#" class="nav-toggle">Menu<span></span></a>
        </div>
    </header>
    <!--header navigation -->
</section>
<!-- header section -->


