    <!-- ABOUT US -------------------------------------------------------- -->

<section class="banner-area relative">
    <div class="container">
        <div class="row fullscreen align-items-center justify-content-center">
            <div class="banner-left col-lg-6">
                <img class="d-flex mx-auto img-fluid" src="~/images/banner.jpg" alt="">
            </div>
            <div class="col-lg-6">
                <div class="story-content">
                    <h6 class="text-uppercase">From the School of Arts Union</h6>
                    <h1>
                        Children <span class="sp-1">are Painting</span><br>
                        You <span class="sp-2">Support</span>
                    </h1>
                    <a href="#" class="genric-btn primary circle arrow">Get Started<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Start about Area -->
<section class="about-area pt-100 pb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="story-content">
                    <h2>
                        Brief Information <br>
                        About <span>the School Gallery</span>
                    </h2>
                    <p class="mt-30">
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                    </p>
                    <a href="#" class="genric-btn primary-border circle arrow">View More<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid d-flex mx-auto" src="~/images/banner.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- End Team Force Area -->