    <!-- MAIN BANNER ----------------------------------------------------- -->

<div id="bg">
    <div>
        <ul>
            <li class="layer" id="l1" data-depth="0.00"><img src="~/images/parallax/parallax_005.png" /> </li>
            <li class="layer" id="l2" data-depth="0.20"><img src="~/images/parallax/parallax_004.png" /> </li>
            <li class="layer" id="l3" data-depth="0.40"><img src="~/images/parallax/parallax_003.png" /> </li>
            <li class="layer" id="l4" data-depth="0.60"><img src="~/images/parallax/parallax_002.png" /> </li>
            <li class="layer" id="l5" data-depth="0.80"><img src="~/images/parallax/parallax_001.png" /> </li>
        </ul>
    </div>
</div>

@section Scripts {
    <script src="~/js/parallax.js"></script>
}
