    <!-- PAINTING STATS ------------------------------------------------------ -->

<section class="faq-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="counter-left col-lg-3 col-md-3">
                <div class="single-facts">
                    <h2 class="counter">5962</h2>
                    <p>Paintings Sold</p>
                </div>
                <div class="single-facts">
                    <h2 class="counter">2394</h2>
                    <p>New Paintings</p>
                </div>
                <div class="single-facts">
                    <h2 class="counter">1439</h2>
                    <p>School Goals Achieved</p>
                </div>
                <div class="single-facts">
                    <h2 class="counter">933</h2>
                    <p>Awards Given</p>
                </div>
            </div>
            <div class="faq-content col-lg-9 col-md-9">
                <div class="single-faq">
                    <h2 class="text-uppercase">
                        Have You Bought A painting Yet?
                    </h2>
                    <p>
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla

                    </p>
                </div>
                <div class="single-faq">
                    <h2 class="text-uppercase">
                        Support Schools by Helping them with their Goals
                    </h2>
                    <p>
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                    </p>
                </div>
                <div class="single-faq">
                    <h2 class="text-uppercase">
                        This is Our future Amazing Art
                    </h2>
                    <p>
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

