    <!-- SCHOOL STATS ---------------------------------------------------- -->
<section class="feature-area pt-100 pb-100  relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6 align-items-stretch">
                <div class="single-feature">
                    <div class="painting">
                        <img src="~/images/work-1.jpg" alt="Alternate Text" />
                    </div>
                    <div class="desc">
                        <h2 class="text-uppercase">Two Birdies <br> By Yio Cho</h2>
                        <p>
                            mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 align-items-stretch">
                <div class="single-feature">
                    <div class="painting">
                        <img src="~/images/work-2.jpg" alt="Alternate Text" />
                    </div>
                    <div class="desc">
                        <h2 class="text-uppercase">My House <br>By Alex</h2>
                        <p>
                            mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 align-items-stretch">
                <div class="single-feature">
                    <div class="painting">
                        <img src="~/images/work-3.jpg" alt="Alternate Text" />
                    </div>
                    <div class="desc">
                        <h2 class="text-uppercase">The Fish <br> By Jozef</h2>
                        <p>
                            mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla mpla
                        </p>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</section>